## Ranking & Outputs

In [38]:
XX = pd.read_csv("user_features.csv")
restaurants = pd.read_csv("restaurants.csv")

In [39]:
XX.shape

(3778, 15)

In [40]:
restaurants.shape

(3990, 25)

In [54]:
restaurants.columns

Index(['key_0', 'business_id', 'name', 'neighborhood', 'address', 'latitude',
       'longitude', 'stars', 'review_count', 'categories', 'popular', 'gender',
       'weekend', 'vegan', 'kid', 'group', 'Ameri', 'Europ', 'SouAM', 'Asian',
       'Indian', 'Chinese', 'MidEas', 'Drinks', 'utility', 'distance'],
      dtype='object')

In [113]:
XX.columns

Index(['popular', 'gender', 'weekend', 'vegan', 'kid', 'group', 'Ameri',
       'Europ', 'SouAM', 'Asian', 'Indian', 'Chinese', 'MidEas', 'Drinks',
       'utility'],
      dtype='object')

## Starting location: Flamingo Las Vegas (36.116111, -115.170556)

Assuming one person's walking speed is 0.1km per minute.

In [152]:
loc = [36.116111, -115.170556]
restaurants['distance'] = np.sqrt((restaurants['latitude'] - loc[0])**2 + (restaurants['longitude'] - loc[1])**2)
restaurants['distance_walking'] = abs(restaurants['latitude'] - loc[0]) + abs(restaurants['longitude'] - loc[1])
restaurants['walking_minutes'] = restaurants['distance_walking']*10

### Default ranking

#### Rank by utilities

In [59]:
restaurants.sort_values(by='utility', ascending = False)[['name', 'address', 'utility']].head(10)

                           name                             address    utility
339        "Meraki Greek Grill"      "4950 S Rainbow Blvd, Ste 160"  56.945889
92                 "Lucki Thai"        "467 E Silverado Ranch Blvd"  55.816374
3310  "Island Style Restaurant"          "3909 W Sahara Ave, Ste 1"  55.593310
1320              "Ramen Tatsu"          "3400 S Jones Blvd, Ste 6"  55.522444
3953          "Ronald's Donuts"           "4600 Spring Mountain Rd"  55.362644
3027       "Zaytoon Restaurant"      "3655 S Durango Dr, Ste 11-14"  55.290851
895              "Veggie House"  "5115 Spring Mountain Rd, Ste 203"  55.202285
1238                   "Yassou"            "7871 W Charleston Blvd"  55.149574
3070                  "Firefly"                  "3824 Paradise Rd"  55.110550
1390         "é by José Andrés"             "3708 Las Vegas Blvd S"  55.082319

#### Rank by distance

In [58]:
restaurants.sort_values(by='distance', ascending = True)[['name', 'address', 'distance']].head(10)

,name,address,distance
682,"""Carlos'n Charlie's""","""3555 S Las Vegas Blvd""",0.000847
789,"""Paradise Garden Buffet""","""3555 Las Vegas Blvd S""",0.000938
3031,"""Flour & Barley""","""3545 Las Vegas Blvd S""",0.001257
31,"""Tilted Kilt Pub & Eatery""","""3545 Las Vegas Blvd, Unit L-26""",0.001295
1047,"""In-N-Out Burger""","""3545 S Las Vegas Blvd, Ste L24""",0.001367
3667,"""Jaburritos""","""3535 S Las Vegas Blvd""",0.001488
2737,"""Bonanno's New York Pizzeria""","""Flamingo Hotel and Casino, 3555 Las Vegas Blv...",0.001508
3304,"""Pan Asian Express""","""Flamingo Hotel and Casino, 3555 Las Vegas Blv...",0.001520
415,"""Virgil's Real Barbecue - Las Vegas""","""3545 Las Vegas Blvd""",0.001556
582,"""LA Subs & Salads""","""Flamingo Hotel and Casino, 3555 Las Vegas Blv...",0.001583

#### Rank by kids-friendly

In [57]:
restaurants.sort_values(by='kid', ascending = False)[['name', 'address', 'kid']].head(10)

,name,address,kid
998,"""Big Horn Cafe""","""6725 Lee Canyon Rd""",1.000000
2911,"""Angel & Willy's Roadhouse Grill""","""10950 State Hwy 160""",1.000000
2585,"""Chinese New Year Celebration""","""4205 Spring Mountain Rd""",1.000000
3249,"""Buck's Tavern""","""1204 N Nellis Blvd""",1.000000
2744,"""Chuck E. Cheese's""","""9230 S Eastern Ave, Ste 100""",0.777778
3861,"""LOL Kids Club""","""7460 S Rainbow Blvd, Unit 130""",0.761905
154,"""McDonald's""","""7200 Arroyo Crossing Pkwy""",0.666667
3176,"""Red Shrimp Company""","""4060 S Jones Blvd""",0.666667
1692,"""Chuck E. Cheese's""","""7381 W Lake Mead Blvd""",0.652174
2491,"""Cobrinha Brazilian Jiu Jitsu Academy""","""321 N Buffalo Dr, Ste 120""",0.538462

### Personalized Ranking

__Suresh__: male, prefer Indian and Asian food, vegan (important), prefer nearby restaurants

__Suresh's kids__: need kids food (very important)

__Li__: male, prefer Chinese and Europ food, non-vegan (not important), prefer nearby restaurants

__Xi__: female, prefer Chinese and SouAm food, non-vegan (not important), prefer nearby restaurants

They go out for eat on the weekend, leaving from Flamingo Las Vegas (36.116111, -115.170556).

|  | popular | gender | weekend | vegan | kid | group | Ameri | Europ | SouAM | Asian | Indian | Chinese | MidEas| Drinks |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | -- | --- | --- | --- | --- | --- | 
| Suresh (with kids) | 1 | 0 | 1 | 1 (important) | 1(important) | 1 | 0 | 0 | 1 | 1 | 1 | 0 | 0 | 0 |
| Li                 | 1 | 0 | 1 | 0 | 0 | 1 | 1 | 1 | 0 | 1 | 1 | 1 | 0 | 0 |
| Xi                 | 1 | 1 | 1 | 0 | 0 | 1 | 0 | 1 | 0 | 0 | 0 | 1 | 1 | 1 |
|Aggregated(G)       | 1 | 1/3 | 1 | 1 | 1 | 1 | 1/3 | 2/3 | 1/3 | 2/3 | 2/3 | 2/3 | 1/3 | 1/3 |

In [84]:
def similarity(restaurants, **kwargs):
    score = 0
    
    for feature in kwargs:
        score += (restaurants[feature]-kwargs[feature])**2
        
    return score

In [143]:
restaurants['similarity'] = restaurants.apply(similarity, popular = 1, gender = 0.33, 
                                              weekend = 1, vegan = 1, kid = 1, group = 1, Ameri = 0.33,
                                              Europ = 0.67, SouAM = 0.33, Asian = 0.67, Indian = 0.67, 
                                              Chinese = 0.67, MidEas = 0.33, Drinks = 0.33, axis=1)

In [144]:
restaurants['utility_reweighted'] = restaurants['utility']/restaurants['similarity']

#### Ranking

In [145]:
rank = restaurants.sort_values(by='utility_reweighted', ascending = False)[['name', 'address', 'similarity',
                                                                    'utility_reweighted', 'distance',
                                                                            'walking_minutes']].head(10)
rank.index = pd.Index([int(i) for i in np.linspace(1, 10, 10)])

In [151]:
rank.round(2)

,name,address,similarity,utility_reweighted,distance,walking_minutes
1,"""Veggie House""","""5115 Spring Mountain Rd, Ste 203""",3.53,15.65,0.04,0.50
2,"""Raku""","""5030 Spring Mountain Rd, Ste 2""",3.67,14.91,0.04,0.50
3,"""Chubby Cattle""","""3400 S Jones Blvd, Ste 15""",3.68,14.71,0.05,0.65
4,"""Nittaya's Secret Kitchen""","""2110 N Rampart, Ste 110""",3.69,14.63,0.14,1.94
5,"""Trattoria Nakamura-Ya""","""5040 W Spring Mountain Rd, Ste 5""",3.81,14.16,0.04,0.50
6,"""Meraki Greek Grill""","""4950 S Rainbow Blvd, Ste 160""",4.06,14.01,0.07,0.89
7,"""Cleo""","""2535 S Las Vegas Blvd""",3.88,13.97,0.03,0.40
8,"""Big Wong Restaurant""","""5040 Spring Mountain Rd""",3.58,13.96,0.04,0.50
9,"""Shang Artisan Noodle""","""4983 W Flamingo Rd, Ste B""",3.84,13.93,0.04,0.40
10,"""Estiatorio Milos""","""3708 Las Vegas Blvd S""",3.81,13.93,0.01,0.10

In [106]:
top10.sort_values(by='distance', ascending = True)[['name', 'address', 'similarity', 'utility_reweighted', 'distance']]

,name,address,similarity,utility_reweighted,distance
1903,"""Fogo de Chão Brazilian Steakhouse""","""360 E Flamingo Rd""",2.874644,18.076145,0.014144
711,"""Del Frisco's Double Eagle Steak House""","""3925 Paradise Rd""",2.941861,18.444544,0.015233
770,"""Joyful House Chinese Cuisine""","""4601 Spring Mountain Rd""",2.669235,18.589845,0.034318
3953,"""Ronald's Donuts""","""4600 Spring Mountain Rd""",2.922497,18.943611,0.035252
895,"""Veggie House""","""5115 Spring Mountain Rd, Ste 203""",2.228397,24.772192,0.042045
2882,"""Texas de Brazil""","""6533 Las Vegas Blvd S""",2.614818,20.173661,0.046224
2292,"""Simply Pure by Chef Stacey Dougan""","""707 Fremont St, Ste 1310""",2.607002,20.137686,0.061099
2148,"""Downtown Container Park""","""707 Fremont St""",2.532746,18.279102,0.061245
1923,"""The Hush Puppy""","""7185 W Charleston Blvd""",2.769837,17.873966,0.090315
769,"""Echo & Rig""","""440 S Rampart Blvd""",2.989858,18.382212,0.126205